# Entorno
.venv/

# Variables sensibles
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/

# H4U datasets

data/raw/*

data/processed/*

data/samples/*

# Mantener estructura de carpetas

!data/raw/.gitkeep

!data/processed/.gitkeep

!data/samples/.gitkeep